<div class="container">
    <h1>
        <span class="material-icons">
            emoji_people
        </span>
        Hi, I'm Greg 
    </h1>
    <div class="details-container">
        <p>
            I started my career as an Associate Software Developer at Philippine Business for the environment. 
        </p>
        
        <p>
            Where I developed web applications using Angular and Integration Firebase Realtime Database for server side services. 
        </p>
        
        <p>
            In Ernst and Young I had coordinated with our onshore team (US counterpart of EY) to configure and fix defects in IBM Maximo Asset Management Applications, where I had been exposed to using technology such as Jython/Python and SQL. 
        </p>

        <p>
            I have also been part of Developing Chatbot application in EY using the Angular framework, a role in which I am proud of because of the accomplishments. 
        </p>
        <p>
            I was the main Angular Developer and the chatbot application was deployed after 3 months and during that I had to develop another prototype chatbot application which resulted in a successful client presentation. 
        </p>
        <p>
            I understand that for this position as an Angular Developer, you’re looking for someone that has a technical background in front-end development and also communication skills.
        </p>
        <p>
            Overall due to my technical background in front-end development and integration of web services I am confident that I am able to succeed in this role that you are hiring for.
        </p>
    </div>
</div>
